language: python
python:
  - "3.6"
  - "3.7"

sudo: false

install:
  - pip install -r requirements-dev.txt

script:
  - flake8
  - mypy acapi2 --ignore-missing-imports
  - nosetests --with-coverage --cover-package=acapi2

after_success:
  - codecov
